@import './typography.css';
$gray: #707070;
.container {
    .arrow {
        padding: 1rem;
        width: 5rem;
        margin-bottom: -3rem;
    }
    .top {
        padding: 1rem;
        #web {
            display: none;
        }
        #mobile {
            display: flex;
        }
    }
    .member-container {
        width: 90vw;
        margin: 0 auto;
        .member {
            margin-bottom: 1rem;
            .name {
                font-family: 'New Edge';
            }
            .bottom {
                display: flex;
                flex-direction: column;
                .profile-image {
                    width: 50%;
                }
                .bio {
                    font-family: 'HKGrotesk Light';
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: row;
        .arrow {
            display: none;
        }
        .top {
            #web {
                display: flex;
                max-width: 40vw;
                margin-left: 5rem;
            }
            #mobile {
                display: none;
            }
        }
        .member-container {
            width: 50vw;
            .member {
                padding: 1rem;
                .bottom {
                    display: flex;
                    flex-direction: row;
                    .profile-image {
                        margin-right: 1rem;
                        width: 100px;
                        height: 100px;
                    }
                    .bio {
                        text-overflow: wrap;
                        max-width: 50%;
                    }
                }
            }
            #ken {
                transform: translate(-15%, 0);
            }
        }
    }
}