@import './typography.css';
.container {
    display: flex;
    flex-direction: column;
    .link {
        margin: 0 auto;
        .down-arrow {
            height: 6rem;
            margin: 0;
        }
    }
    .text {
        margin: 0 auto;
        font-family: 'New Edge';
        text-decoration: none;
        color: black;
    }
}