@import './typography.css';
$gray: #707070;
.container {
    .arrow {
        padding: 1rem;
        width: 5rem;
        margin-bottom: -2rem;
    }
    .star {
        display: none;
    }
    .top {
        padding: 1rem;
        #web {
            display: none;
        }
        #mobile {
            display: flex;
            width: 90vw;
        }
        .blob {
            display: none;
        }
    }
    .bottom {
        display: flex;
        flex-direction: column;
        .guide {
            font-family: 'New Edge';
            font-size: 2rem;
            margin: 2rem auto 0 auto;
        }
        .link {
            margin: 0 auto;
            .down-arrow {
                transform: rotate(180deg);
                margin: 0;
            }
            #logo {
                margin: -1rem 0;
                padding: 0;
                width: 20rem;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .container {
        position: relative;
        .arrow {
            display: none;
        }
        .star {
            display: inline;
            padding: 1rem;
            width: 8rem;
            margin-bottom: -3rem;
            margin-left: 25%
        }
        .top {
            display: flex;
            justify-content: left;
            align-items: top;
            #web {
                display: flex;
                width: 50vw;
                margin-left: 2rem;
            }
            #mobile {
                display: none;
            }
            .blob {
                width: 300px;
                height: 300px;
                display: inline;
            }
        }
        .bottom {
            width: 50vw;
            margin-left: 40%;
        }
    }
}