@import './typography.css';
$gray: #707070;
.container {
    display: flex;
    flex-direction: column;
    .bg {
        position: fixed;
        z-index: -4;
        top: 8rem;
        left: 1rem;
        font-family: 'Serifbabe Alpha';
        font-size: 270px;
        color: white;
        opacity: .51;
        text-shadow: -1px -1px 0 $gray, 1px -1px 0 $gray, -1px 1px 0 $gray, 1px 1px 0 $gray;
    }
    .text {
        width: 90vw;
        margin: 18rem auto 0 auto;
        display: flex;
        flex-direction: column;
        .paragraph {
            font-family: "New Edge";
            font-size: 2rem;
            line-height: 2.7rem;
            margin-bottom: 2rem;
            #me {
                display: none;
            }
            .box {
                border: 1px solid black;
                padding: .2rem;
            }
            .bent-box {
                padding: .2rem;
                background-image: url('../images/border.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .container {
        .bg {
            font-size: 450px;
            top: 10rem;
        }
        .text {
            max-width: 500px;
            position: relative;
            margin-bottom: -15rem;
            .paragraph {
                #me {
                    display: inline;
                }
            }
            div:nth-child(1) {
                order: 1
            }
            div:nth-child(2) {
                z-index: -2;
                width: 60vw;
                transform: translate(10%, -100%);
                order: 5
            }
            div:nth-child(3) {
                order: 2
            }
            div:nth-child(4) {
                z-index: -3;
                width: 50vw;
                transform: translate(-50%, -30%);
                order: 4
            }
            div:nth-child(5) {
                order: 3
            }
        }
    }
}