@font-face {
    font-family: "Serifbabe Alpha";
    src: url("../fonts/SerifbabeAlpha-Regular.woff");
}

@font-face {
    font-family: 'New Edge';
    src: url('../fonts/NewEdgeTM-Regular.woff')
}

@font-face {
    font-family: 'HKGrotesk Regular';
    src: url('../fonts/hkgrotesk-regular.woff')
}

@font-face {
    font-family: 'HKGrotesk Light';
    src: url('../fonts/hkgrotesk-light.woff')
}